body{
    background-color: #554994;
    margin: auto;

}


#title{
    margin-bottom: 30rem;
}

.first-image{
    max-width: 10rem;
}
#navbar{
    padding: 2rem 3rem;
    
    
}
.nav-link{
    color: #fff;
}
    
nav ul li{

        padding : 0 10px 0 10px;
        
}
hr {
    border: 5px solid #fff;
  }

.first-heading{
    
    background-color: #F675A8;
    color: #fff;
    padding: 2rem 4rem;
    width: 40rem;
    border: 3px solid #fff;
    margin:0 8rem;
}

.about-me{
    background-color: #fff;
    color: black;
    padding: 10rem 4rem;
    width: 80rem;
    text-align: center;
    line-height: 2rem;
    margin:auto;
    
}

.icons{
    color: #F675A8;
    padding-bottom: 2px;
}


.little-headings{
    color: #F675A8
}


#skill{
    background-color: #fff;
    color: black;
    padding: 10rem 9rem;
    width: 80rem;
    text-align: center;
    line-height: 0.5rem;
    margin:auto;
}

#carousel{
    background-color: #554994;
    margin: auto;
    width: 100%;
    text-align: center;
    
}

.testimonials-image{
    width: 60rem;
}

.projects{
    background-color:#fff ;
    color: #F675A8;
    width: 85%;
    margin:auto;
    text-align: center;
    padding: 6rem 4rem;

}

.project-img{
    width: 20rem;
    /* border: 5px solid #554994; */

}


.footer{
    background-color:#fff ;
    width: 85%;
    text-align: center;
    margin: auto;
    padding: 2rem 2rem;
    
}
.footer-icon{
    padding-left: 2rem;
}

@media (max-width: 900px) {

    .first-heading{


        width: 400px;
        
    }
    .about-me{
        width: 60rem;
        margin: auto;
        
    }
    #skill{
        width: 60rem;
        margin: auto;
    }
    .projects {
        width: 60rem;
        margin: auto;
    }
    .cf1{
        width: 50rem;
    }
    .footer{
        width: 60rem;
        margin: auto;
    }
    
    hr{
        width: 960px;
        margin: auto;
    }
    .icons{
        
        padding-bottom: 2px;
    }
    .projects{
        width: 60rem;
        margin: auto;
    }
    #carousel{
        width: 60rem;
        margin: auto;
    }
    
}
